<span ng-switch="$ctrl.editMode">
    <div class="col-sm-2">
      <input ng-switch-when="true" type="{{$ctrl.fieldType}}" class="form-control" id="location" name="location" placeholder="Birth Location" ng-model="$ctrl.fieldValue" required>
      <span ng-switch-default>{{$ctrl.fieldValue}}</span>
    </div>

</span>
<div>
  <div class="btn-group">
    <button class="btn btn-xs btn-primary pull-right" ng-click="$ctrl.handleModeChange()">{{$ctrl.editMode ? 'Save' : 'Edit'}}</button>
    <button class="btn btn-xs btn-primary pull-right" ng-if="$ctrl.editMode" ng-click="$ctrl.reset()">Reset</button>
  </div>
</div>