<hr>
<div class="col-xs-12 col-sm-9">
    <div class="media-body">
        <form class="form-horizontal">
            <h3 class="media-heading"> Name: {{$ctrl.hero.name}}</h3>
            <div class="form-group">
                <label class="col-sm-2 control-label">Location:</label>
                <editable-field field-value="$ctrl.hero.location" field-type="text" on-update="$ctrl.update('location', value)"></editable-field>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Universe:</label>
                <editable-field field-value="$ctrl.hero.universe" field-type="text" on-update="$ctrl.update('universe', value)"></editable-field>
            </div>
            <button class="btn btn-xs btn-primary pull-left" ng-click="$ctrl.delete()">Delete</button>
        </form>
    </div>
    <div class="media-right media-middle">
        <a href="#/ourhero/{{$ctrl.hero.id}}">
            <img class="media-object img-thumbnail"
                 ng-src={{$ctrl.hero.image}} alt="myhero">
        </a>
    </div>
</div>